body {
  /* background-image: url("https://images.wallpaperscraft.ru/image/single/akva_sinij_odnotonnyj_162325_300x168.jpg");
  background-repeat: repeat; */

  background-size: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mm {
  margin-top: 0;
  padding: 0;
  height: 545px;
  width: 100%;
  background-image: url(https://www.bobrmedcollege.by/links/entrant__career-guidance__files/entrant__career-guidance__about-the-profession-1.jpg);
}

.med {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  background: rgb(31, 31, 31);
  background: linear-gradient(
    0deg,
    rgba(31, 31, 31, 0.5) 0%,
    rgba(31, 31, 31, 0.5) 100%
  );
}

.aa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  box-sizing: border-box;
  padding: 0 60px;
  padding-top: 250px;
  margin-bottom: 0;
  margin-top: 0;

  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.ab {
  display: flex;
  justify-content: flex-start;
  padding: 0 60px;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  margin-top: 0;
  color: white;
}

.ad {
  color: rgb(182, 181, 181);
  margin-left: 7px;
}
/* .btns {
  height: 43px;
  border-radius: 7px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Lato", sans-serif;
  font-size: 20px;

  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 0.5) 0%,
    rgba(231, 231, 231, 0.5) 100%
  );
  border: none;
  color: white;
  width: 100%;
} */

.mbtn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin: 0 20px;
  padding-left: 40px;
  flex-wrap: wrap;
}

.ta {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 0.5) 0%,
    rgba(231, 231, 231, 0.5) 100%
  );

  height: 40px;

  border-radius: 7px;
}

a:hover {
  background-color: rgba(69, 65, 65, 0.45);
  transition: 0.5s;
  color: white;
}

.ta:hover {
  /* background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 0.721) 0%,
    rgba(231, 231, 231, 0.652) 100%
  ); */
  background-color: rgb(176, 175, 175);
  transition: 500ms;
}

.hh {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  color: rgb(1, 207, 166);
}

.hhh {
  color: rgb(60, 60, 60);
  font-size: 40px;
}

.hhhh {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
  margin-left: 75px;
}

.sp {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  align-items: center;
  color: white;
  height: 19px;
  width: 100%;

  margin: 7px 7px 7px 7px;
  font-size: 18px;
}

.zb {
  padding-top: 70px;
  width: 65%;
}
.za {
  display: flex;
  justify-content: flex-start;
  padding: 0 60px;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  margin-top: 0;
  color: rgb(60, 60, 60);
}

.mng {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: rgb(71, 71, 71);
  box-sizing: border-box;
  padding: 13.5px 60px;
  /* padding-top: 230px; */
  margin-bottom: 0;
  /* padding-top: 20px; */

  font-family: "Lato", sans-serif;
  font-size: 22.5px;
}

#bx {
  height: 312px;
  border: 5px solid rgb(1, 207, 166);
  margin-top: 150px;
}

/* !================ */

#mainid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 50px;
}

#mnd {
  padding-top: 270px;
  padding-left: 3%;
  padding-bottom: 50px;
  max-width: 95%;
  height: 500px;
  /* display: flex;
  justify-content: last baseline;
  align-items: center;
  flex-wrap: wrap; */
  /* flex-direction: column; */

  /* gap: 30px; */
}

#cardbr {
  width: 396px;
  height: 500px;
  border: none;
  box-shadow: 0px 5px 42px 2px rgba(34, 60, 80, 0.13);
  border-radius: 15px;
}

#cardbr:hover {
  background-color: rgb(27, 141, 255);
  color: white;
  transition: 0.5s;
  /* height: 550px */
  margin-top: -25px;
  margin-bottom: -25px;
  gap: 25px;
}

#cardimg {
  width: 80px;
  /* margin-bottom: 20%; */
  /* top: 30px; */
}

#carta {
  display: flex;
  flex-direction: column;
}

#likn {
  width: 70px;
  height: 70px;
  color: rgb(215, 215, 215);
}
#cardbr2 {
  background-color: rgb(243, 243, 243);
  border: none;
  width: 369px;
  box-shadow: 0px 5px 42px 2px rgba(34, 60, 80, 0.13);
}

#obrs {
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  /* padding-left: 30%; */
}

/* ! ============ NAVBAR ============ */

#mbar {
  position: absolute;
  background: rgb(63, 251, 177);
  background: radial-gradient(
    circle,
    rgba(63, 251, 177, 0) 0%,
    rgba(6, 249, 100, 0) 100%
  );
  box-shadow: none;
}

#tbar {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#bbar {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  padding-top: 45px;
}

#nbbtn {
  background-color: white;
  height: 50px;
  width: 35%;
  border-radius: 6px;
  top: 20px;
  color: rgb(0, 200, 255);
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
#nbbtn2 {
  background-color: white;
  height: 50px;
  width: 35%;
  border-radius: 6px;
  top: 20px;
  color: rgb(39, 189, 91);
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

#nbtns {
  display: flex;
  justify-content: end;
  padding-right: 9%;
}
